<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Hoopla</title>
  <link rel = "stylesheet" href = "/public/bootstrap/bootstrap-theme.min.css">
  <link rel = "stylesheet" href = "/public/bootstrap/bootstrap.min.css">
  <link rel = "stylesheet" href = "/public/bootstrap/bootstrap-theme.min.css">
  <link rel = "stylesheet" href = "/public/css/custom.css">
  <script type = "text/javascript" src = "/public/jquery/jquery-2.1.1.min.js"> </script>
  <script type = "text/javascript" src = "/public/bootstrap/bootstrap.min.js"> </script>
  <script type = "text/javascript" src = "/public/global.js"></script>
  <link rel="shortcut icon" href="/public/images/favicon.png">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <style>
    body    { padding-top:80px; }
  </style>
</head>
<body>
<div class = "header_panel">Hoopla</div>
<div class="container">
  <div class = "row">
    <div class = "col-xs-8 col-xs-offset-2 center">
  <div class="text-center">
    <h1 class = "thin header"> Hoopla </h1>
    <p class = "landing_text">Questions - Answers -  For Sale - Discussion</p> <hr style = "border-color:#3498DB;"><p class = "landing_text" style = "padding-bottom:10px;"> Welcome to your communal classified section.<br>
      Engage with others from your school or your business.</p>
    <a href = "/signup" class="btn btn-default"><span class="fa fa-pencil-square-o fa-2x"></span> Sign Up</a>
    <a href = "/login" class="btn btn-default" style = "margin-left:8px;"><span class="fa fa-user fa-2x"></span> Log in</a>
    <div>
  </div>
</div>
</div>
</div>
<div class = "row"><div class = "col-xs-8 col-xs-offset-2 center">
  <div class = "footer" style = "text-align:center;color:rgb(168, 168, 168);position:relative; bottom:-130px;">Built with love at Wayfair's Hackathon 2014<br> Carter Wheatley, Emilio Mendoza, Jonathan Reyes, Justin Shiiba, and Kris Salvador</div>
</div>
</div>
</body>
</html>